
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif; 
  background-color: #fff;
  color: #333;
  scroll-behavior: smooth; 
}


header {
  background: linear-gradient(to right, #7b4397, #dc2430); 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ffe082;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffe082;
  transition: width 0.3s;
}
nav a:hover::after {
  width: 100%;
}


.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("jewelry banners.jpg") center/cover no-repeat; /* CHANGE HERE */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  animation: fadeUp 1.5s ease forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffe082;
  color: #333;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #fff;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
}


.featured {
  text-align: center;
  padding: 60px 40px;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}
.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 280px;
  padding: 20px;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card button {
  margin-top: 10px;
  background: #dc2430;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}


footer {
  background: #222;
  color: #aaa;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}
